<body>
    <h1>Primer Parcial labo 4 (urls abajo)</h1>
    <div class="info-alumno" *ngIf="alumno">
        <img src="{{ alumno.avatar_url }}" alt="">
        <h4>{{ alumno.name }}</h4>
    </div>
    <div>
        <a href="https://primerparcial-93d98.web.app/altaRepartidor">Alta repartidor</a>
    </div>
    <div>
        <a href="https://primerparcial-93d98.web.app/repartidores">Lista de Repartidores</a>
    </div>
    <div>
        <a href="https://primerparcial-93d98.web.app/helados">ABM Helados</a>
    </div>

</body>